[Unit]
Description=Styx DPI Docker Container
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/srv/styx-dpi
ExecStart=/usr/bin/docker-compose --file docker/docker-compose.yml --env-file docker/.env up
ExecStop=/usr/bin/docker-compose down
Restart=always
User=styx
Group=docker

[Install]
WantedBy=multi-user.target
